.App {
  text-align: center;
  background-color: rgb(46, 93, 179);
  color: #eeededdc
}

.App-logo {
  height: 8rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-title {
  font-size: 4rem;
  color: white;
}

.App-link {
  color: #66adff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coin-table {
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.25rem;
}